<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
    <title>Add Recipe Category</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="spacer">
    </br>
    </br>
    </div>
    <div class="container add-category">
      <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3">
          <hr class="colorgraph" />
          <h2>Add New Category:</h2>
          <br />
          <hr class="colorgraph" />
          <br />
          <form role="form" method="POST" action="/api/admin/add-category">
            <fieldset>
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  id="category"
                  class="form-control input-lg"
                  placeholder="Add Category"
                />
              </div>
              <br />
              <hr class="colorgraph" />
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input
                    type="submit"
                    class="btn btn-lg btn-primary btn-block"
                    value="Add"
                  />
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>