body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}
 .spacer{
   background: white
 }
 .card-img-top {
  height: 300px;
}
.opening-card {
  border-radius: 0;
}

.delete-btn {
  /* float: right; */
  position: absolute;
  right: 50px;
  padding: 10px;
}