<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <!-- <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/> -->
    <title>Home Joker</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div id="container" class="fluid">
      <main role="main">
        <div class="spacer">
        </br>
      </br>
      </div>
      <h2><%= joke.text %> </h2>
      </br>
    </div>

    <iframe src="https://giphy.com/embed/12msOFU8oL1eww" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/laughing-12msOFU8oL1eww">via GIPHY</a></p>
      
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>