<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Recipe Keeper</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div id="container" class="fluid">
      <main role="main">
        <% include ../partials/jumbotron %>
        
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>