<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/>
    <title>Recipe Keeper</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div id="container" class="fluid">
      <main role="main">
        <div class="spacer">
        </br>
        </br>
      </div>
 
        <div>
          <img class="main-img" src="images/home-recipes.jpg"/>
        </div>

      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>