<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
    <title>Search Recipe</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <div class="container search">
        <div class="row">
          <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3">

            <% if (errors.length > 0) { %>
              <div class="alert alert-danger alert-dismissible">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= errors %>
              </div>
              <% } %> <% if (message.length > 0) { %>
              <div class="alert alert-success alert-dismissible">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
              <% } %>

            <hr class="separator" />
          <h2>Search Recipe:</h2>
          <br />
          <hr class="separator" />
          <br />
          <form role="form" method="GET" action="/api/main/search">
            <fieldset>
              <div class="form-group">
                <input
                  type="text"
                  name="ingredient"
                  id="ingredient"
                  class="form-control input-lg"
                  placeholder="Search Recipe"
                />
              </div>
              <hr class="separator" />
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input
                    type="submit"
                    class="btn btn-lg btn-primary btn-block"
                    value="Search"
                  />
                  </div>
                  </div>
            </fieldset>
        </div>
      </div>
    </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>