<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
    <title>Search Recipe</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      
          <h2>Search Recipe:</h2>
          <br />
          <hr class="colorgraph" />
          <br />
          <form role="form" method="GET" action="/api/main/search">
            <fieldset>
              <div class="form-group">
                <input
                  type="text"
                  name="ingredient"
                  id="ingredient"
                  class="form-control input-lg"
                  placeholder="Search Recipe"
                />
              </div>
              <br />
              <hr class="colorgraph" />
              <div class="row">
                <div class="">
                  <input
                    type="submit"
                    class=""
                    value="Search"
                  />
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>